@import "tailwindcss";


body {
    max-width: 100vw;
    min-width: 100vw;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.see-on-hover:hover + .seen-on-hovered{
  visibility: visible;
  opacity: 0.9;
  box-shadow: 1px 1px 4px #00000022;
}

.seen-on-hovered:hover{
  visibility: visible;
  opacity: 0.9;
  box-shadow: 1px 1px 4px #00000022;
}

*::-webkit-scrollbar{
  display: none;
}

nav li a{
  transition: 0.25s ease;
}

nav li a:hover{
  color:#d4af37f8 ;
}

#testimonialSection > button > svg > path{
  transition: 0.25s ease;
}

#testimonialSection > button > svg:hover > path{
fill:#d4af37f8
}

#testimonialSection > button > svg:active > path{
fill:#d4af3738
}

#remHeroText{
  text-shadow:1px 1px 0.25rem #000000e8; }

*{
  font-family: "poppins",sans-serif;
}

/* animation for hero image*/
@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.4;
  }

  80% {
    opacity: 0.9;
  }
}

.fade-in {
  animation: fadeIn .75s ease-in-out forwards;
}